@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;700&display=swap');


*, :root {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-image: linear-gradient(to bottom, #F0BED5, #49E65D,#F0BED5 );
}

main {
  max-width: 640px;
  padding: 20px;
  margin: 0 auto 64px;
}

header {
  margin-top: 64px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(125, 79, 199);
}

header h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 24px;
}

#quiz {
  counter-reset: quiz-item;
}

.quiz-item {
  margin-top: 24px;
  border: 1px solid blue;
  border-radius: 6px;

  overflow: hidden;
}

.quiz-item h3 {
  padding: 16px 20px;

  display: flex;
  align-items: center;
  gap: 12px;

  background-color: rgb(185, 174, 247);
}

.quiz-item h3::before {
  counter-increment: quiz-item;
  content: counter(quiz-item);

  background-color: rgb(173, 142, 231);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  flex-shrink: 0;
  
}

.quiz-item dl {
  padding: 20px 24px;

  display: grid;
  gap: 8px;
}

.quiz-item dl dt {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;

  display: flex;
  align-items: center;
  gap: 8px;
}

input {
  all: unset;
  border: 1px solid blue;
  width: 16px;
  height: 16px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

}

input:checked {
  border: 1px solid green (224, 139, 231);
}

input:checked:before {
  content: "";
  width: 10px;
  height: 10px;


  background-color: rgb(202, 108, 226);
  border-radius: 50%;
}



/* declaração */
#acertos {
  text-align: center;
  background-color: rgb(54, 196, 36);

  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 12px;
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  color: rgb(202, 108, 226);
  text-decoration: none;
  transition: color 0.6s ease;
}

p {
  text-align: center;
  margin: 10px;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

